doctype html
html(lang='en')
    head
        title= title
    body
        h1= title
        if user
            p Welcome to #{title}, < #{user.name} >
        else 
            p Welcome to #{title}
        ul
            li
                a(href="/") home 
            if user
                li
                    a(href="/publish") publish
                li
                    a(href="/list") list
                li
                    a(href="/logout") logout
            else 
                li
                    a(href="/login") login 
                li
                    a(href="/reg") reg 
        article
            font(color='red')
                if success
                    div= success
                if error
                    div= error
        block content
    footer
        block footer
            | © 2009-2017 CyLeeBlog.com 版权所有 ICP证：粤S-172RM